In [1]:
# Import base Libraries
import pandas as pd
# import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# add the scripts directory to the python path,
# or the set of places the python interpreter looks for code files
import sys
sys.path.insert(0, './ds_helpers')

# now read in the functions
from helpers import read_in_dataset, merge_dataset

### Import Data

In [3]:
# Set path to dataset
dataset_folder = '../datasets/zillow/'

In [4]:
# List files in dataset
!ls ../datasets/zillow/

properties_2016.csv
properties_2017.csv
sample_submission.csv
train_2016.csv
train_2017.csv
zillow_data_dictionary.xlsx

In [9]:
# import Data Dictionary for terms
data_dictionary = pd.read_excel(f'{dataset_folder}/zillow_data_dictionary.xlsx')
data_dictionary.head()

,Feature,Description
0,'airconditioningtypeid',Type of cooling system present in the home (i...
1,'architecturalstyletypeid',"Architectural style of the home (i.e. ranch, ..."
2,'basementsqft',Finished living area below or partially below...
3,'bathroomcnt',Number of bathrooms in home including fractio...
4,'bedroomcnt',Number of bedrooms in home

In [12]:
properties = read_in_dataset(dataset_folder,"properties_2016.csv",True)

------------------------------------------

Reading in the properties_2016.csv dataset:

------------------------------------------

it has 2985217 rows and 58 columns

------------------------------------------

It has the following columns:

Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

------------------------------------------

 The first 5 rows look like this:

   parcelid  airconditioningtypeid  architecturalstyletypeid  basementsqft  \
0  10754147                    NaN                       NaN           NaN
1  10759547                    NaN                       NaN           NaN
2  10843547                    NaN                       NaN           NaN
3  10859147                    NaN                       NaN           NaN
4  10879947                    NaN                       NaN           NaN

   bathroomcnt  bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
0          0.0         0.0                  NaN                    NaN
1          0.0         0.0                  NaN                    NaN
2          0.0         0.0                  NaN                    NaN
3          0.0         0.0                  3.0                    7.0
4          0.0         0.0                  4.0                    NaN

   calculatedbathnbr  decktypeid  ...  numberofstories  fireplaceflag  \
0                NaN         NaN  ...              NaN            NaN
1                NaN         NaN  ...              NaN            NaN
2                NaN         NaN  ...              NaN            NaN
3                NaN         NaN  ...              1.0            NaN
4                NaN         NaN  ...              NaN            NaN

   structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
0                         NaN                9.0          2015.0
1                         NaN            27516.0          2015.0
2                    650756.0          1413387.0          2015.0
3                    571346.0          1156834.0          2015.0
4                    193796.0           433491.0          2015.0

   landtaxvaluedollarcnt  taxamount  taxdelinquencyflag  taxdelinquencyyear  \
0                    9.0        NaN                 NaN                 NaN
1                27516.0        NaN                 NaN                 NaN
2               762631.0   20800.37                 NaN                 NaN
3               585488.0   14557.57                 NaN                 NaN
4               239695.0    5725.17                 NaN                 NaN

   censustractandblock
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 58 columns]

------------------------------------------

           parcelid  airconditioningtypeid  architecturalstyletypeid  \
count  2.985217e+06          811519.000000               6061.000000
mean   1.332586e+07               1.931166                  7.202607
std    7.909966e+06               3.148587                  2.436290
min    1.071172e+07               1.000000                  2.000000
25%    1.164371e+07               1.000000                  7.000000
50%    1.254509e+07               1.000000                  7.000000
75%    1.409712e+07               1.000000                  7.000000
max    1.696019e+08              13.000000                 27.000000

       basementsqft   bathroomcnt    bedroomcnt  buildingclasstypeid  \
count   1628.000000  2.973755e+06  2.973767e+06         12629.000000
mean     646.883292  2.209143e+00  3.088949e+00             3.725948
std      538.793473  1.077754e+00  1.275859e+00             0.501700
min       20.000000  0.000000e+00  0.000000e+00             1.000000
25%      272.000000  2.000000e+00  2.000000e+00             3.000000
50%      534.000000  2.000000e+00  3.000000e+00             4.000000
75%      847.250000  3.000000e+00  4.000000e+00             4.000000
max     8516.000000  2.000000e+01  2.000000e+01             5.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
count           1.938488e+06       2.856305e+06     17096.0  ...
mean            5.784787e+00       2.299263e+00        66.0  ...
std             1.805352e+00       1.000736e+00         0.0  ...
min             1.000000e+00       1.000000e+00        66.0  ...
25%             4.000000e+00       2.000000e+00        66.0  ...
50%             7.000000e+00       2.000000e+00        66.0  ...
75%             7.000000e+00       3.000000e+00        66.0  ...
max             1.200000e+01       2.000000e+01        66.0  ...

       yardbuildingsqft26     yearbuilt  numberofstories  \
count         2647.000000  2.925289e+06    682069.000000
mean           278.296562  1.964262e+03         1.401464
std            369.731508  2.344132e+01         0.539076
min             10.000000  1.801000e+03         1.000000
25%             96.000000  1.950000e+03         1.000000
50%            168.000000  1.963000e+03         1.000000
75%            320.000000  1.981000e+03         2.000000
max           6141.000000  2.015000e+03        41.000000

       structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                2.930235e+06       2.942667e+06    2.973778e+06
mean                 1.708836e+05       4.204790e+05    2.014999e+03
std                  4.020683e+05       7.263467e+05    3.683161e-02
min                  1.000000e+00       1.000000e+00    2.000000e+03
25%                  7.480000e+04       1.796750e+05    2.015000e+03
50%                  1.225900e+05       3.060860e+05    2.015000e+03
75%                  1.968890e+05       4.880000e+05    2.015000e+03
max                  2.514860e+08       2.827860e+08    2.016000e+03

       landtaxvaluedollarcnt     taxamount  taxdelinquencyyear  \
count           2.917484e+06  2.953967e+06        56464.000000
mean            2.524780e+05  5.377607e+03           13.892409
std             4.450132e+05  9.183107e+03            2.581006
min             1.000000e+00  1.340000e+00            0.000000
25%             7.483600e+04  2.461070e+03           14.000000
50%             1.670420e+05  3.991780e+03           14.000000
75%             3.069180e+05  6.201005e+03           15.000000
max             9.024622e+07  3.458861e+06           99.000000

       censustractandblock
count         2.910091e+06
mean          6.048431e+13
std           3.249035e+11
min          -1.000000e+00
25%           6.037400e+13
50%           6.037572e+13
75%           6.059042e+13
max           4.830301e+14

[8 rows x 53 columns]

In [11]:
raw_train = read_in_dataset(dataset_folder,"train_2016.csv",True)

------------------------------------------

Reading in the train_2016.csv dataset:

------------------------------------------

it has 90275 rows and 3 columns

------------------------------------------

It has the following columns:

Index(['parcelid', 'logerror', 'transactiondate'], dtype='object')

------------------------------------------

 The first 5 rows look like this:

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

------------------------------------------

           parcelid      logerror
count  9.027500e+04  90275.000000
mean   1.298466e+07      0.011457
std    2.504510e+06      0.161079
min    1.071174e+07     -4.605000
25%    1.155950e+07     -0.025300
50%    1.254734e+07      0.006000
75%    1.422755e+07      0.039200
max    1.629608e+08      4.737000

In [14]:
# how many train records don't have a matching property
len(set(raw_train.parcelid) - set(properties.parcelid))

0

In [16]:
# how many properties don't have a matching train record
len(set(properties.parcelid) - set(raw_train.parcelid))

2895067

In [23]:
# If you want to see function inline in notebook
# import inspect
# # inspect the function we made for this
# print(inspect.getsource(merge_dataset))

# Or use:
# read_in_dataset??

In [27]:
# merge the data and remove the raw datasets
train_data_merged = merge_dataset(raw_train, properties, 'parcelid')
del raw_train
del properties

In [28]:
train_data_merged.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,11016594,0.0276,2016-01-01,1.0,NaN,NaN,2.0,3.0,NaN,4.0,...,NaN,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,NaN,NaN,6.037107e+13
1,14366692,-0.1684,2016-01-01,NaN,NaN,NaN,3.5,4.0,NaN,NaN,...,NaN,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,NaN,NaN
2,12098116,-0.0040,2016-01-01,1.0,NaN,NaN,3.0,2.0,NaN,4.0,...,NaN,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,NaN,NaN,6.037464e+13
3,12643413,0.0218,2016-01-02,1.0,NaN,NaN,2.0,2.0,NaN,4.0,...,NaN,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,NaN,NaN,6.037296e+13
4,14432541,-0.0050,2016-01-02,NaN,NaN,NaN,2.5,4.0,NaN,NaN,...,2.0,NaN,169574.0,434551.0,2015.0,264977.0,5488.96,NaN,NaN,6.059042e+13

In [ ]:
# write out the training data to csv so we can load it into the next notebook
train_data_merged.to_csv(f'derived_data/train_data_merged_2016.csv', index=False)